################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 1 - eBookManager/ClassLibrary1/obj
