################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter 1 - eBookManager/ClassLibrary1/obj
/Chapter 1 - eBookManager/.vs/eBookManager
/Chapter 1 - eBookManager/eBookManager/bin/Debug
/Chapter 4 - TaskBugLogMVC/.vs
/Chapter 4 - TaskBugLogMVC/BugTracker/bin/Debug/netcoreapp2.0
/Chapter 4 - TaskBugLogMVC/BugTracker/obj
/Chapter 1 - eBookManager/eBookManager/obj
/Chapter 1 - eBookManager/eBookManager/packages
/Chapter 1 - eBookManager/eBookManager.Controls/bin/Debug
/Chapter 1 - eBookManager/eBookManager.Controls/obj
/Chapter 1 - eBookManager/eBookManager.Engine/obj
/Chapter 1 - eBookManager/eBookManager.Helper/bin/Debug/netcoreapp3.0
/Chapter 1 - eBookManager/eBookManager.Helper/obj
/Chapter 1 - eBookManager/packages
/Chapter 2 - TaskBugLogMVC/.vs/BugTracker/DesignTimeBuild
/Chapter 2 - TaskBugLogMVC/.vs/BugTracker/v15
/Chapter 2 - TaskBugLogMVC/.vs/config
/Chapter 2 - TaskBugLogMVC/BugTracker/bin/Debug/netcoreapp2.0
/Chapter 2 - TaskBugLogMVC/BugTracker/obj/Debug/netcoreapp2.0
/Chapter 2 - TaskBugLogMVC/BugTracker/obj
/Chapter 2 - TaskBugLogMVC/BugTracker.v12.suo
/Chapter 1 - eBookManager/eBookManager.Engine/bin/Debug/netcoreapp3.0
/Chapter 1 - eBookManager/eBookManager.Engine/bin/Debug
