@model BugTracker.Models.AddWorkItem

@{
    ViewData["Title"] = "Add Work Items";
}

<h2>Add a new Work Item</h2>

<h4>Enter a new work item in the form below. Work items can be bugs or tasks.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateWorkItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <input asp-for="Severity" class="form-control" />
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkItemType" class="control-label"></label>
                <input asp-for="WorkItemType" class="form-control" />
                <span asp-validation-for="WorkItemType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignedTo" class="control-label"></label>
                <input asp-for="AssignedTo" class="form-control" />
                <span asp-validation-for="AssignedTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
